<p id="notice"><%= notice %></p>

<div class="span9">
  <div class="hero-unit">
    <h1 class="">Special Offer</h1>
    <p class="">here is the best offer of the month! Do not loose it!</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
  </div>

  <ul class="thumbnails">

    <% @products.each do |product| %>

    <li class="span3">
      <div class="thumbnail">
        <img src="holder.js/300x200" alt="">
        <div class="caption">
          <h4><%= product.product_name.capitalize %></h4>
          <p><%= product.package_size %>&nbsp;<%= product.product_unit.product_unit_name %></p>
          <p><strike><%= product.price %>THB</strike>&nbsp;<%= product.price %>THB</p>
          <%= link_to 'View', product, class:"btn btn-primary" %>
          <a class="btn btn-success" href="#">Add to Cart</a>
        </div>
      </div>
    </li>
    <% end %>
    </ul>


  <br/>


