<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Amount in stock:</strong>
  <%= @product.amount_in_stock %>
</p>

<p>
  <strong>Product unit:</strong>
  <%= @product.product_unit.product_unit_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.category_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description.capitalize %>
</p>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
